{% extends 'base.html'%}

{%block title%}<p>Home</p>{% endblock %}

{% block context %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-nav">
      <a class="nav-link active" aria-current="page" href="#">Home</a>
    </div>
    <div>
        <a class="nav-link active" aria-current="page" href="#">Images</a>
    </div>
    <div>
        <a class="nav-link active" aria-current="page" href="#">Articles</a>
    </div>
    <div>
        <a class="nav-link active" aria-current="page" href="#">Photographer</a>
    </div>
    <div>
        <a class="nav-link active" aria-current="page" href="#">Writer</a>
    </div>
</nav>
{% endblock %}