<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-nav">
      <a class="nav-link active" aria-current="page" href="/templates/home.html">Home</a>
    </div>
    <div>
        <a class="nav-link active" aria-current="page" href="/templates/images.html">Images</a>
    </div>
    <div>
        <a class="nav-link active" aria-current="page" href="/templates/articles.html">Articles</a>
    </div>
    <div>
        <a class="nav-link active" aria-current="page" href="/templates/phw.html">Photographer</a>
    </div>
    <div>
        <a class="nav-link active" aria-current="page" href="/templates/phw.html">Writer</a>
    </div>
    <div>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>
